h1{color:#358;
   font-family:inherit;
   font-size: 150 px; 
   font-weight: 100;
    text-align: center;padding-top: 60px;
    background: url(download-1.jpg); background-repeat: no-repeat; height: 900px; width: auto;background-position: 450px 0px }
